body, html{
padding:0;
margin:0;
}

#red {
	position:absolute;
    height:300px;
    width:300px;
	top:38%;
    left:40%;
    background-color:#F72338;
	
 
}
/*TODO, center the text when box grows*/
#redText{
	position:relative;
	   height:100%;
   ` width:100%;

	 text-align: center;
	 color: white; 
   font: bold 50px/50px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  



}

#dtable1 {
	position:absolute;
    height:1000px;
    width:1000px;
	top:13%;
    left:28%;
	
padding:0;
margin:0;


display:none;
background-color:40px solid rgba(255, 255, 255, 0);
border: 20px solid rgba(255, 0, 0, 0);	
}
#table1 {
	position:absolute;
	top:2%;
    left:2%;
	
padding:0;
margin:0;



	
}
td, th {
border: 20px solid rgba(255, 255, 0, 0);
}



#green ,#blue ,#yellow ,#pink{
position:relative;
top: 0;
    height:300px;
    width:300px;
}

#blue {


    background-color:#B547B5;
}

#yellow {


    background-color:#5CE65C;
}

#green {

    background-color:#FFA319;
}
#pink {

	
    background-color: #3399FF;
}






#redCont{
	position:absolute;
    top:38%;
    left:39%;
	width:100%

}

#inspireMe5{
	position:absolute;
    top:5%;
    
	width:100%;
	color: #F72338;
	text-align:center;
	left:-10px;
	 font: bold 30px/30px Helvetica, Sans-Serif;  
	 display:none;

}
#back{
	position:absolute;
    top:90%;
    
	width:100%;
	color: #F72338;
	text-align:center;
	left:-35px;
	 font: bold 15px/15px Helvetica, Sans-Serif;  
	 display:none

}



#redCont1, #redCont2, #redCont3, #redCont4{
   position: relative; 
   top: 35%; 
     left:39%;
	width:100%


}



.text1,.text2,.text3,.text4{
   position: absolute; 
   top: 30%; 
      left: -35%;
	width:100%;
   
   text-align: left;
   margin:0;
   padding:0;
  font: bold 24px/24px Helvetica, Sans-Serif;  
  color: white; 

}

#inspireMe {
    height:100%;
    width:100%;

}






